[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jira = "*"
jira2markdown = "*"
pyyaml = "*"
click = "*"
pydiscourse = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3"

[scripts]
lint = "sh -c 'black compulsor; isort compulsor; flake8 compulsor'"
compulsor = "python compulsor/compulsor.py"
